@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@350&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); */

/*
  PRIMARY:  #FFEF41
  TINTS: #fff267
  SHADES: #4c4813 #312000 #191806

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  height: 100%;
  font-size: 62.5%;
}

body {
  background: url("./background-ludo.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  filter: contrast(170%);
  font-family: "Noto Sans", sans-serif;
}

.modal {
  box-shadow: 0 4px 8px 10px rgba(25, 22, 6, 0.15);
  border: 4px solid #fff267;
  border-radius: 8px;
  backdrop-filter: blur(25px) brightness(150%) contrast(30%);
}

.pd-mdm {
  padding: 1.6rem;
}

.pd-smll {
  padding: 0.8rem;
}

.pos-fxd-ctr {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
}

.mrg-bttm-bg {
  margin-bottom: 2.4rem;
}

.mrg-bttm-mdm {
  margin-bottom: 1.8rem;
}

.mrg-bttm-smll {
  margin-bottom: 0.8rem;
}

.wdth-full {
  width: 100%;
}

.wdth-mdm {
  width: 70%;
}

.pri-head {
  font-size: 3.2rem;
  font-weight: bold;
  color: #4c4813;
}

.para {
  font-size: 1.8rem;
  font-family: "Work Sans", sans-serif;
  color: #191806;
}

.flex {
  display: flex;
}

.flx-col {
  flex-flow: column wrap;
}

.flx-row {
  flex-flow: row wrap;
}

.ip-ctr {
  align-items: flex-start;
  justify-content: space-between;
}

.ip-lbl {
  font-size: 1.8rem;
  font-weight: 500;
  color: #312000;
}

.usr-ip {
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid;
  border-radius: 1rem;
  outline: none;
}

/* .user-input:focus {
  border: 1.5px solid #2f9e44;
  background-color: #eaf5ec;
} */

/* .user-color__label {
  margin-bottom: 1rem;
} */

/* .user-input__color {
  width: 50%;
} */

.ip-ctr:last-child {
  margin-bottom: 1rem;
}

.ip-ctr input[type="radio" i] {
  display: none;
}

.color-green {
  background-color: #2f9e44;
}

.color-blue {
  background-color: #339af0;
}

.color-yellow {
  background-color: #fcc419;
}

.color-red {
  background-color: #f03e3e;
}

.square {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.not-allowed {
  border: 1px solid rgba(138, 138, 138);
  background-color: #2b2b2b;
  cursor: not-allowed;
}

.outline {
  box-shadow: 0 0 2px 2px #364fc7;
}

.submit-btn {
  color: #191806;
  font-size: 2.4rem;
  border: 2px solid #ffef41;
  border-radius: 8px;
  background: linear-gradient(45deg, #fff47a 30%, #fff154);
  transition: all 300ms;
}

.submit-btn:hover,
.submit-btn:active {
  box-shadow: 1px 1px 2px 2px inset rgba(97, 97, 97, 0.2);
  background-color: #ccbf34;
}

.submit-btn:active {
  transform: scale(0.9);
}
